# Code to Over Sample the Data using ADASYN to Balance the classes

In [ ]:
import pandas as pd

def handle_missing_values(df):
    missing_pct = (df.isnull().sum() / len(df)) * 100
    
    cols_to_drop = missing_pct[missing_pct > 70].index
    df_cleaned = df.drop(columns=cols_to_drop)

    numeric_cols = df_cleaned.select_dtypes(include=['float64', 'int64']).columns
    df_cleaned[numeric_cols] = df_cleaned[numeric_cols].fillna(df_cleaned[numeric_cols].median())
    
    return df_cleaned

df = pd.read_csv('path/to/your/data.csv')
df_cleaned = handle_missing_values(df)
X = df_cleaned.drop('bad_flag', axis=1)
y = df_cleaned['bad_flag']

print(f"Class distribution before ADASYN: {pd.Series(y).value_counts()}")

In [2]:
from imblearn.over_sampling import ADASYN
adasyn = ADASYN(sampling_strategy='minority', random_state=42)
X_res, y_res = adasyn.fit_resample(X, y)

print(f"Class distribution after SMOTE: {pd.Series(y_res).value_counts()}")

Class distribution after SMOTE: bad_flag
1    95958
0    95434
Name: count, dtype: int64

In [4]:
# Combine the resampled features and target into a single DataFrame
df_resampled = pd.concat([X_res, y_res], axis=1)
# Display basic statistics of the resampled DataFrame
df_resampled.describe()

,account_number,onus_attribute_1,transaction_attribute_1,transaction_attribute_2,transaction_attribute_3,transaction_attribute_4,transaction_attribute_5,transaction_attribute_6,transaction_attribute_7,transaction_attribute_8,...,bureau_enquiry_42,bureau_enquiry_43,bureau_enquiry_44,bureau_enquiry_45,bureau_enquiry_46,bureau_enquiry_47,bureau_enquiry_48,bureau_enquiry_49,bureau_enquiry_50,bad_flag
count,191392.000000,1.913920e+05,191392.000000,191392.000000,191392.000000,191392.000000,191392.000000,191392.000000,191392.000000,191392.000000,...,191392.000000,191392.000000,191392.000000,191392.000000,191392.000000,191392.0,191392.000000,191392.000000,191392.000000,191392.000000
mean,48296.677562,1.190724e+05,3.863388,0.001181,1.814808,31.649907,0.002837,27.811889,0.030304,0.000078,...,1.361336,18.693204,0.343431,5.173802,0.396779,0.0,0.274130,0.040564,9.525786,0.501369
std,25748.233316,1.182866e+05,925.925105,0.074491,184.834121,1938.487229,0.081218,1542.483093,8.686007,0.020825,...,2.192439,16.281588,0.950287,6.797203,1.100456,0.0,0.648623,0.314437,8.791079,0.499999
min,1.000000,2.500000e+04,0.000000,0.000000,0.000000,-109800.476600,0.000000,-3498.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,27105.000000,6.400000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,7.000000,0.000000,0.839790,0.000000,0.0,0.000000,0.000000,3.000000,0.000000
50%,48376.500000,1.000000e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.435279,14.853675,0.000000,3.000000,0.000000,0.0,0.000000,0.000000,7.000000,1.000000
75%,69506.250000,1.202673e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.000000,26.700795,0.000000,7.321867,0.000000,0.0,0.023574,0.000000,13.999563,1.000000
max,96806.000000,2.800000e+06,398936.791000,25.000000,55000.000000,358986.000000,12.000000,358986.000000,3150.000000,8.000000,...,59.000000,287.000000,24.000000,134.000000,43.000000,0.0,18.000000,14.000000,102.000000,1.000000

In [ ]:
df_resampled.to_csv('path/to/new/csv', index=False)